{
  "extends": "eslint:recommended",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2
  }
}
