{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  }
}
